/* Application-wide Styles */

/* Set the full page height so we can stick the footer to the bottom */
html,
body {
  height: 100%;
  color: inherit;
}
body, input[type="text"], button {
  color: #333;
}
a {
  color: #18222b;
  text-decoration: none;
}
